<!DOCTYPE html>
<html>
<head>
<title>PsychoSense V2</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">
    <div>
        <b>PsychoSense V2</b><br>
        <small>AI Behavioral Mirror</small>
    </div>
</div>

<div id="chat"></div>

<div class="footer">
    <input id="input" placeholder="Type your thoughts...">
    <button onclick="send()">➤</button>
</div>

<script src="/static/script.js"></script>

</body>
</html>
